body {
  margin: auto;
  background-image: url("pexels-eberhard-grossgasteiger-1367192.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 150px;
  margin-top: 40px;
  margin-right: 80px;
}

#shopCart {
  width: 25px;
  height: 25px;
}

#oddDuck {
  display: flex;
}

#oddDuckSelect {
  display: flex;
  justify-content: end;
}

#oddDuckSelect1 {
  padding-right: 30px;
  color: aliceblue;
}

#oddDuckSelect2 {
  padding-right: 30px;
  color: aliceblue;
}

#oddDuckSelect3 {
  padding-right: 30px;
  color: aliceblue;
}

#productssec {
  display: flex;
  justify-content: center;
}

.odproduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-self: center;
  background-color: gray;
  width: 350px;
  height: 350px;
  margin: 100px;
  position: relative;
}

#prodwall {
  align-self: center;
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background-color: red;
  margin-bottom: 10px;
}

#prodsunglass {
  align-self: center;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  background-color: orange;
}

#prodwwatch {
  align-self: center;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  background-color: magenta;
}

#prodButt {
  width: 100px;
  height: 40px;
  align-self: center;
}
