body {
  margin: auto;
  background-image: url("pexels-eberhard-grossgasteiger-1367192.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 150px;
  margin-top: 40px;
  margin-right: 80px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-left: 20px;
}
h1 {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
}

h3 {
  font-size: 24px;
  margin-top: 0px;
}

#shopCart {
  width: 25px;
  height: 25px;
}

#oddDuck {
  display: flex;
}

#oddDuckSelect {
  display: flex;
  justify-content: end;
}

#oddDuckSelect1 {
  padding-right: 30px;
  color: aliceblue;
}

#oddDuckSelect2 {
  padding-right: 30px;
  color: aliceblue;
}

#oddDuckSelect3 {
  padding-right: 30px;
  color: aliceblue;
}

#productssec {
  display: flex;
  justify-content:left;
}

.odproduct {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: gray;
  width: 450px;
  height: 450px;
  margin: 100px;
}

.button-container {
  display: flex;
 flex-direction: row;
 margin-left: 20px;
}

#prodwall {
  background-image: url(pexels-neeraj-raj-2767612.jpg);
  background-size: cover;
  margin-right: 30px;
  margin-top: 30px;
  width: 250px;
  height: 250px;
  background-color: red;
  margin-left: 20px;
}

#prodsunglass {
  background-image: url(pexels-antony-trivet-9898270.jpg);
  background-size: cover;
  margin-right: 30px;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  margin-top: 30px;
  background-color: orange;
}

#prodwwatch {
  background-image: url(pexels-josh-withers-15763948.jpg);
  background-size: cover;
  margin-right: 30px;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  margin-top: 30px;
  background-color: magenta;
}

#prodButt1,
#prodButt2,
#prodButt3,
#buyProd1,
#buyProd2,
#buyProd3 {
  width: 100px;
  height: 40px;
  
}
